<h1>All About Us!</h1>
<p>
<i class="fa fa-facebook-square fa-5x"></i>
<i class="fa fa-twitter-square fa-5x"></i>
<footer>
  <h6>
    Address: 123 Main Street, Anytown, USA 123456
  </h6>
</footer>
</p>
