<div class="jumbotron">
  <h1>Welcome to Doggie Daycare</h1>
  <p>
    <h3>
      We care for your pet like our own!
    </h3>
    <h5>
    Services include:<br>
    Dog Daycare<br>
    Puppy Training Classes<br>
    Overnight Boarding<br>
    Food and Care Products<br>
    </h5>
    <footer>
      <h5>
        Hours of operation: <br>
        5:00 am to 5:00 pm <br>
        Monday - Friday
      </h5>
    </footer>
  </p>

</div>